[submodule "frontend"]
	path = frontend
	url = https://github.com/saida-ben/recruitment-platform-frontend
[submodule "backend"]
	path = backend
	url = https://github.com/saida-ben/-recruitmentPlatform
